@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}


<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="item-cell bordered">
      <img src="~/images/product.jpg" alt="Product Image" />
      <br />
      <p>这是一个测试商品</p>
      <p class="item-price">￥0.01</p>
      <button class="btn btn-danger btn-block">去支付</button>
    </div>
  </div>
</div>
